<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F39406565460278562%2F&psig=AOvVaw3IIeJIRmra6FqCURbp0O64&ust=1614446156789000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOjej5mHiO8CFQAAAAAdAAAAABAJ">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Love Shore</strong> <small></small> <small></small>
        <br>
        A great book full of sweet stories you'll love!
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
