<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <LinkTo @route="index" class="navbar-item">
      <h1><b>ShareBooks</b></h1>
    </LinkTo>
    
    
      <a role="button" class="navbar-burger {{if this.isLarge "is-active"}}" data-target="navMenu" aria-label="menu" aria-expanded="false" {{on "click" this.toggleSize}}> 
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      </a>
     

  </div>

  <div class="navbar-menu {{if this.isLarge "is-active"}}" id="navMenu">
    <div class="navbar-start">
          <LinkTo @route="index" class="navbar-item">
            Home
          </LinkTo>

          <LinkTo @route="upload" class="navbar-item">
            UploadBooks
          </LinkTo>
        
          <LinkTo @route="about" class="navbar-item">
            About
          </LinkTo>

         
          <LinkTo @route="issues" class="navbar-item">
            Report an issue
          </LinkTo>
        
      </div>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info">
            <strong>Sign up</strong>
          </a>
          <a class="button is">
            Log in
          </a>
        </div>
      </div>
    </div>
  
</nav>