<container>
    <div class="title">Book Details</div>
<div class="columns">
<div class="column">


    <Tile>
    
     <div class="title is-4">{{model.name}}<br> By {{model.author}} </div>
     
     <p class="has-text-weight-medium">ISBN Code:{{model.bookid}} <br>Year <strong>{{model.year}}</strong></p>
     </Tile>
  

</div>
</div>
</container>