<container>
    <div class="title">Book Details</div>
<div class="columns">
<div class="column">


    <Tile>
    
     <div class="title is-4">{{model.name}}</div>
     
     <p class="subtitle is-5 has-text-weight-medium">{{model.author}} | {{model.bookid}}</p>
     </Tile>
  

</div>
</div>
</container>