<container>
<section>
  <container>
  <div class="field">
    <label class="label">Book Upload Code</label>
    <div class="control">
      {{input class="input" type="text" value=alphanum  placeholder="Enter the upload code of the book"}}
    </div>
  </div>
  



  <div class="field is-grouped">
  <p class="control">
    <a class="button is-danger" role="button" {{action 'deleteData'}}>
      Delete
    </a>
  </p>
  <p class="control">
    <a class="button is-light" role="button" {{action 'cancelData'}}>
      Cancel
    </a>
  </p>
</div>
  </container>
</section>
<section>
>>
</section>
</container>