<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
     Be a giver , Share your books ❤️
    </p>
    <p class="subtitle">
      Why buy books when you can borrow them? 
    </p>
  </div>
</section>
<br>
<Books @books={{model}} />