  <section class="section">
    <div class="container">
      <h1 class="title">
        Hi there!
      </h1>
      <p class="subtitle">
        Welcome to ShareBooks! A place where you can find,read and share books. <strong>Keep on Reading</strong>!
      </p>
    </div>
  </section>