<section>
  <div>
    <p class="title">
     Share Your Books Here.
    </p>
    <p class="subtitle">
      Please fill the form and submit.
    </p>
  </div>
</section>
<br>
<section>
  <container>
  <div class="field">
    <label class="label">Book Title</label>
    <div class="control">
      <input class="input" type="text"  placeholder="Enter title of book here">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Owner</label>
    <div class="control">
      <input class="input" type="text"  placeholder="Enter your name here">
    </div>
  </div>


  <div class="field">

    
    <label class="label">Department and Year</label>
   
    
    <div class="field-body has-addons">
        <div class="control">
          <div class="select">
            <select>
            
              <option>Bsc.Computer Science</option>
              <option>Bsc.Statistics</option>
              <option>Bsc.Psychology</option>
              <option>B.Com Finance</option>
              <option>BA English</option>

            </select>
          </div>
        </div>
        <div class="control">
          <div class="select">
            <select>
            
              <option>1st Year</option>
              <option>2nd Year</option>
              <option>3rd Year</option>

            </select>
          </div>
        </div>
    </div>
    
  </div>
    <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email"  placeholder="Enter email">
    </div>
  </div>
      <div class="field">
    <label class="label">Roll Number</label>
    <div class="control">
      <input class="input" type="text"  placeholder="Enter your roll number">
    </div>
  </div>

  <div class="field is-grouped">
  <p class="control">
    <a class="button is-primary">
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light">
      Cancel
    </a>
  </p>
</div>
  </container>
</section>